@charset "utf-8";

.image-fondo {
    background-image: url("img/logotipo.png");
    background-repeat: no-repeat;
    background-position: center;
    
    width: 100px;
    height: 500px;
}

.cabecera{
  color: rgb(0, 0, 0);
  height: 60px;
  line-height: 100px;
  text-align: left;
  vertical-align: middle;
  text-shadow: rgb(80, 108, 185) 0px 0px 10px;
}
.fondo{
    background-color: rgb(41, 132, 206);
   
    height: 100px;
}